[Unit]
Description=nuLigaHelper cleanup schedule

[Timer]
OnCalendar=*-*-* 09:00:00 Europe/Berlin
Persistent=true
AccuracySec=1min
Unit=nuligahelper-cleanup.service

[Install]
WantedBy=timers.target
